@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
Body {
  margin: 0;
  padding: 0;
  font-family: "IM Fell English", serif;
}
.background{
     background-color: #CE0033;
     width: 100%;
     height: 70vh;
     background-position: center;
     position: relative;
     
    
}
.custom-shape-divider-bottom-1615545849 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1615545849 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 269px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1615545849 .shape-fill {
    fill: #F5DEB3;
}
.nav-link{
    text-transform: uppercase;

}
.single-blog .meta{
    font-weight: 400;
    text-align: left;
    margin-top: 40px;
}
p{
    margin-bottom: 1rem;
    margin-top: 0;
}
.single-blog a{
    color: #777;
    text-decoration: none;
}
.single-blog h5{
    margin-bottom: 12px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
h5{
    color: #222;
}
body{
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.625rem;
}
.Title{
    color: rgba(0, 0, 0, 0.75);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2rem;
    padding: 30px;
}
.slogan{
    font-weight: 800;
font-size: 80px;
  text-align: center;
  margin-top: 80px;
  color: rgba(0, 0, 0, 0.75);
}
.social .details-btn{
    border: 1px solid #eee;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
}
.social span {
    display:inline-flex;
}
.social .single-blogul {
    margin:0;
    padding:0;
}
.social ul li{
    float:left;
}
.social ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
    list-style:none;

}
.social ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}
