@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap");
Body {
  margin: 0;
  padding: 0;
  font-family: "IM Fell English", serif;
}
.background{
     background-color: #CE0033;
     width: 100%;
     height: 70vh;
     background-position: center;
     position: relative;
     
    
}

.custom-shape-divider-bottom-1615545849 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1615545849 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 269px;
    transform: rotateY(180deg);
}
.slogan{
    font-weight: 800;
font-size: 80px;
  text-align: center;
  margin-top: 80px;
  color: rgba(0, 0, 0, 0.75);
}
.custom-shape-divider-bottom-1615545849 .shape-fill {
    fill: #F5DEB3;
}
.nav-link{
    text-transform: uppercase;

}

body {
    background: #C5E1A5;
  }
  form {
    width: 60%;
    margin: 60px auto;
    background: #F5DEB3;
    padding: 60px 120px 80px 120px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  }
  label {
    display: block;
    position: relative;
    margin: 40px 0px;
  }
  .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
  }
  .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #CE0033;
  }
  
  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #F5DEB3;
    transition: ease .6s;
  }
  
  .input:focus + .line-box .line {
    width: 100%;
  }
  
  .label-active {
    top: -3em;
  }
  
  button {
    display: inline-block;
    padding: 12px 24px;
    background: #CE0033;
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  }
  
  button:hover {
    background: #F5DEB3;
    color: #ffffff;
  }
